// Copyright 2026 Steven Wang
// Miryoku trial for eyelash corne (48-key layout)

#include "../miryoku/custom_config.h"
#include "../miryoku/mapping/48/eyelash_corne.h"
#include "../miryoku/miryoku.dtsi"
